.banner-logo {
    font-family: 'Inter';
    text-align: center;
    color: white;
    height: 150px;
    background-image: url('https://i.pinimg.com/originals/fd/89/5d/fd895dc6bbe86bf63af5280711143c5d.gif');
    background-position: 30px;
    background-position: center;
}

body {
  font-family: 'Inter';
}

#toggle-generos {
  color: black !important;
}
#toggle-generos:hover {
  color: #444 !important; /* gris oscuro al pasar el mouse */
}

